
@import "trigonometry.scss";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* Defines */
$color0: #ffffff;
$color1: #400000;
$color2: #800000;
$color3: #bf0000;
$color4: #e5cccc;
$color5: #f2eded;

$headerHeight: 3.5rem;
$sidePanelWidth: 20rem;
$timelineHeight: 10rem;
$spacing: 1rem;

$borderRadius: 0.5rem; 

$searchBorderWidth: 1.2rem;

$datasetsNum: 5;

$shadow1: 0 0 0.5rem rgba(0, 0, 0, 0.33); 


/* Main CSS */

body {
	font-family: 'Noto Serif', serif;
	background-color: $color0; color: $color1;
}

h1 { font-size: 125%; }

.line { margin: 0 1em; }

.myButton {
	cursor: pointer;
	&:hover { color: $color3; }
	&.big { font-size: 110%; }
}

.hidden { display: none !important; }

/* Page parts */

#Title { position: fixed; top: 0; left: 0; right: 0; height: $headerHeight; }
#Map { position: fixed; top: $headerHeight; left: 0; right: 0; bottom: 0; }
#SidePanel { position: fixed; top: $headerHeight + $spacing; right: $spacing; width: $sidePanelWidth; bottom: $timelineHeight + 2 * $spacing; }
#Timeline { position: fixed; left: $spacing; right: $spacing; bottom: $spacing; height: $timelineHeight; }

#Title {  
	display: flex; align-items: center; 
	box-shadow: $shadow1;

	.logo {
		margin-left: 1rem;
		img { height: $headerHeight - 1rem; }
	}
	
	.title {
		flex-grow: 1;
		margin-left: 1rem; font-size: 190%; color: $color2;
	}
	
	.buttons {
		margin-right: 2rem;
		.btn { margin-left: 1em; }
	}
}
	
#SidePanel {
	display: flex; flex-direction: column;
	background: white; border-radius: $borderRadius; box-shadow: $shadow1;
	
	.content.main {
		flex-grow: 1;
	}
	
	.head {
		display: flex;
		.button {
			flex-grow: 1;  text-align: center;
			cursor: pointer;
			&:last-child { border-right: none; }
		}
		&.main .button {
			height: $headerHeight; line-height: $headerHeight; font-size: 150%;
			&:hover { color: $color3; }
		}
	}
	
	.Search {
		width: 100%; height: 100%;
		display: flex; flex-direction: column;
		
		.head {
			.button {
				height: 2rem; line-height: 2rem;
				color: $color0; font-weight: bold; font-size: 105%;
				&:hover { color: $color1; } 
				&:first-child { border-top-left-radius: $borderRadius; }
				&:last-child { border-top-right-radius: $borderRadius; }
			}	
		}
		
		.title {
 			margin-top: -1px; color: white;			
		}
		
		.content {
			flex-grow: 1; position: relative;
			
			.fields {
				position: absolute; top: 0; left: 0; right: 0; bottom: 0;  
				overflow-y: scroll;
			}
		}
	}
}

#Timeline {
	background: white; border-radius: $borderRadius; box-shadow: $shadow1;
	overflow: hidden;
	
	canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
	
	.detail {
		position: absolute; z-index: 99999;
		background: white; border: solid 1px black; border-radius: 4px;
		font-size: 14px;
		.head { background: black; color: white; font-weight: bold; padding: 0.5em; }
		.vysledek {
			margin: 0.5em 0; padding: 0 0.5em; white-space: nowrap; font-size: 12px;
			.dataSetIndicator { display: inline-block; width: 1em; height: 1em; }
		}
	}
}

#Map {
	#mapa-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; }
	
	.mistoOverlay {
		cursor: pointer; position: relative;
		
		font-family: "Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif";
		
		$overlayDotSize: 24px;
		$overlayDotMargin: 8px;
		$overlayFontSize: 12px;
//		$overlayBgColor: rgba(255, 255, 255, 0.9); 
		$overlayBgColor: rgba(55, 75, 65, 0.5); 
//		$overlayBgColor: rgba(140, 141, 169, 0.5); 
//		$overlayBgColor: rgba(230, 230, 230, 0.7); 
		
		.placeName {
			position: absolute; transform: translate(-100%, -50%);
			height: $overlayDotSize; padding-right: 2*$overlayDotSize/3; padding-left: 0.5em;
			line-height: $overlayDotSize; 
			background: $overlayBgColor; color: white; text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.75);
			border-top-left-radius: $borderRadius;
			white-space: nowrap; font-size: $overlayFontSize; font-weight: bold;
			z-index: 1;
			a { color: white; }
		}
		.dot {
			position: absolute; width: $overlayDotSize; height: $overlayDotSize; margin: $overlayDotMargin;
			left: -$overlayDotSize/2 - $overlayDotMargin; top: -$overlayDotSize/2 - $overlayDotMargin; z-index: 1;
			border-radius: 50%; background: black;
			z-index: 10;
			&.active { z-index: 15; }
		}
		
		$detailH: 3.75 * $overlayDotSize;
		$detailAng: 40deg;
		$detailLineH: $detailH / $datasetsNum;
		$detailLineRB: solid 1px #ddd;
		
		$tmpDetSinA: sin($detailAng);
		$tmpDetCosA: cos($detailAng);
		$detailAY: $detailH / 2 - $overlayDotSize * $tmpDetCosA / 2;
		$detailAX: $detailAY * $tmpDetCosA / $tmpDetSinA;
		$detailDX: $overlayDotSize * $tmpDetSinA / 2;
		
		.detail { 
			position: absolute; transform: translate(-$overlayDotSize/2, -$overlayDotSize/2);
			z-index: 5;
			
			.title {
				margin-left: 0.5*$overlayDotSize; padding-left: 0.75 * $overlayDotSize; padding-right: 0.5em; 
				border-top-right-radius: $borderRadius; //border-top: solid 2px rgba(255, 255, 255, 0.75);
				line-height: $overlayDotSize;
				white-space: nowrap;
				background: $overlayBgColor; color: white; text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.75);
			}
			
			.content {
				margin-left: 1.25 * $overlayDotSize;
				background: $overlayBgColor; color: white; text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.75);
				border-bottom-right-radius: $borderRadius;
				
				.dataSet {
					height: $detailLineH;
					display: flex; align-items: center;
					
					.indicator { width: $detailLineH; height: $detailLineH; }
					.results {
						min-width: 4em; padding: 0 0.5em; //border-top: $detailLineRB; border-bottom: $detailLineRB; 
						white-space: nowrap; line-height: $detailLineH - 2px; height: $detailLineH;
						font-size: 0.65 * $detailLineH; font-weight: bold;
					}
				}
			}
		}
		
		&.shaded { opacity: 0.4; }
	}
}


/* Ajax indicator */

#ajaxIndicator {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99999999999;
	display: none;
	
	>div {
		position: absolute; top: 20%; left: 20%; bottom: 20%; right: 20%;
		background: rgba(255, 255, 255, 0.75); font-weight: bold;
		box-shadow: 0 0 4em 4em rgba(255, 255, 255, 0.75);
	}
	
	.gears {
		position: absolute; top: 50%; left: 50%; width: 128px; height: 128px;
		margin-left: -64px; margin-top: -64px; line-height: 128px; text-align: center;
		
		img {
			position: absolute; top: 0; left: 0; z-index: 999;
			animation: shownhide 240ms linear infinite; opacity: 0;
		}
		
		@keyframes shownhide { 00.00% { opacity: 0; } 00.01% { opacity: 1;} 16.66% { opacity: 1; } 16.67% { opacity: 0; } 100% { opacity: 0; } }
		.f0001 { animation-delay: 000ms; }
		.f0002 { animation-delay: 020ms; }
		.f0003 { animation-delay: 040ms; }
		.f0004 { animation-delay: 060ms; }
		.f0005 { animation-delay: 080ms; }
		.f0006 { animation-delay: 100ms; }
		.f0007 { animation-delay: 120ms; }
		.f0008 { animation-delay: 140ms; }
		.f0009 { animation-delay: 160ms; }
		.f0010 { animation-delay: 180ms; }
		.f0011 { animation-delay: 200ms; }
		.f0011 { animation-delay: 220ms; }
	}
}
