@CHARSET "UTF-8";

/*********/
/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
 margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
 content: ''; content: none;
}
table {
 border-collapse: collapse; border-spacing: 0;
}

/*********/
/* Fonty */

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cm/cmunrm.otf');
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cm/cmunrb.otf');
	font-weight: bold;
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cm/cmunsl.otf');
	font-style: italic, oblique;
}

@font-face {
	font-family: "Computer Modern";
	src: url('/fonts/cm/cmunbi.otf');
	font-weight: bold;
	font-style: italic, oblique;
}

/**********************/
/* Zakladni nastaveni */

body {
	font-family: "Computer Modern", serif;
}

/******************/
/* Vyberovy panel */

.content { display: flex; flex-direction: column; }
.content .main { flex-grow: 1.0; }

.content form { position: relative; display: block; }
.content form>div { margin-bottom: 0.75em; }
.content label { display: block; }
.content input, .content button { width: 100%; box-sizing: border-box; }
.content form div.line { display: flex; align-items: center; }
.content form div.line .hfill { flex-grow: 1.0; }
.content form div.line label { margin: 0 0.5em; }
.content form div.line label:FIRST-CHILD { margin-left: 0; }
.content form div.line input { width: auto; min-width: 0; }
.content form button { margin-top: 2em; }

.content label.heading { margin-bottom: 0.25em; font-weight: bolder; }
.content .undefined label { color: gray; }
.content .unsaved label { color: red; }

/********************/
/* Vysledkovy panel */

.sresult { margin-bottom: 1.5em; }
.sresult .label::AFTER { content: ": " }
.sresult .titul { font-weight: bold; font-size: 105%; margin-bottom: 0.4em; }


/************/
/* Ovladani */

.mapaCollapsed #mapa { display: none; }
.mapaCollapsed #rcol { width: auto; left: 24.5em; }


/*******************/
/* Obecne vysledky */

.detail {
	position: absolute; z-index: 99999;
	background: white; border: solid 1px black; border-radius: 4px;
	font-size: 14px;
}
.detail .head { background: black; color: white; font-weight: bold; padding: 0.5em; }
.detail .vysledek { margin: 0.5em 0; padding: 0 0.5em; white-space: nowrap; font-size: 12px; }
.detail .vysledek .dataSetIndicator { display: inline-block; width: 1em; height: 1em; }

/********/
/* Mapa */

#mapa { position: fixed; box-sizing: border-box; top: 0; bottom: 8em; left: 0; right: 0; }
#mapa-content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.mistoOverlay { cursor: pointer; }
.mistoOverlay .bottomDot {
	position: absolute; width: 14px; height: 14px; left: -15px; top: -15px; margin: 8px;
	border-radius: 50%;
	background-image:
		linear-gradient(180deg, transparent 50%, black 50%),
		linear-gradient(  0deg, black 50%, transparent 50%);
}
.mistoOverlay .graph {
	position: absolute; transform: translate(-50%, -100%); padding: 0 2px; min-width: 18px;
	border-bottom: solid 2px black;
	display: flex; justify-content: center;
	pointer-events: none;
}
.mistoOverlay .graph .bar { align-self: flex-end; margin: 0 1px; width: 8px; }

.mistoOverlay .detail { transform: translate(-50%, -50%); z-index: 99999; display: none; }

/***************/
/* Casovy graf */

#casovyGraf {
	position: fixed; box-sizing: border-box; bottom: 0; left: 0; right: 0; height: 8em;
	background: white; box-shadow: 0 -0.1em 0.1em rgba(0, 0, 0, 0.3);
	cursor: crosshair;
}

#casovyGraf canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*******************/
/* Vybery dle poli */

#vyberyDlePoli { position: fixed; top: 0.5em; left: 8em; right: 0; display: flex; }
#vyberyDlePoli>div { padding-right: 1em; }
#vyberyDlePoli .masterPrinter { flex-grow: 0.50; }
#vyberyDlePoli .topic { flex-grow: 0.20; }
#vyberyDlePoli .genre { flex-grow: 0.20; }
#vyberyDlePoli .language { flex-grow: 0.10; }
.vyberDlePole .titul { font-weight: bold; font-size: 110%; }
.vyberDlePole select { font-size: 80%; }
.vyberDlePole .k-multiselect-wrap input { color: white; }


/*************************/
/* Prepinac datovych sad */

#dataSetSwitcher { position: fixed; top: 8em; left: 0; z-index: 999; }
.dataSetItem {
	padding: 0.4em 0.6em 0.4em 1em; margin-bottom: 0.5em; white-space: nowrap;
	font-size: 18px; color: white;
	border-radius: 0 4px 4px 0;
	display: flex; position: relative;
}
.dataSetItem .tools { flex-grow: 1; text-align: right; letter-spacing: 0.1em; margin-left: 0.6em; }
.dataSetItem .tools a { font-size: 16px; }
.dataSetItem.new i { font-size: 24px; }
.dataSetItem a { cursor: pointer; color: white; text-decoration: none; }
.dataSetItem a.button:hover { color: #FF9C00; }
.dataSetItem a.button.hidden i { visibility: hidden; }
.dataSetItem a.button.hidden:hover i { visibility: visible; }
.dataSetItem a.button.semihidden i { color: rgba(255, 255, 255, 0.10); }
.dataSetItem a.button.semihidden:hover i { color: white; }

.dataSetItem .detail {
	position: absolute; top: 0; left: 100%; margin-left: 8px; border-radius: 4px; min-width: 25vw; font-size: 16px;
	display: none;
}
.dataSetItem .detail .connection { position: absolute; top: 0; left: -12px; width: 12px; margin: 0.4em 0; background: inherit; }
.dataSetItem .detail .heading { background-color: black; font-weight: bold; padding: 0.4em; }
.dataSetItem .detail .heading:first-child { border-radius: 4px 4px 0 0; }
.dataSetItem .detail .heading:last-child { border-radius: 0 0 4px 4px; }
.dataSetItem .detail .line { padding: 0 0.5em; margin: 0.5em 0; }
.dataSetItem .detail .line .fieldName { font-style: oblique; font-size: 90%; text-decoration: underline; }
.dataSetItem .detail .line .fieldName:after { content: ":"; }
.dataSetItem .detail .line .values { margin-top: 0.2em; padding: 0 2em; }
.dataSetItem .detail .line .values .value {}
.dataSetItem .detail .line .values .value:not(:first-child):before { content: ", "; }

/******************/
/* Ajax indicator */

#ajaxIndicator {
	position: fixed; top: 0; left: 0; bottom: 0; right: 0;
	z-index: 999999;
	display: none;
}
#ajaxIndicator>div {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	display: table; text-align: center;
}
#ajaxIndicator>div>div { display: table-cell; vertical-align: middle; text-align: center; }
#ajaxIndicator>div>div>div {
	margin: auto; width: 220px; height: 220px; 
	background: radial-gradient(white 55%, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 63%);
}
#ajaxIndicator>div>div>div>img { margin: 60px 0; }
